.container{
    color: black;
    padding-left: 0px;
    padding-right: 0px;
}

.element{
    padding: 1.5rem 20rem;
}

.html{
    padding: 1.5rem 20rem;
}

.header{
    padding: 0.5rem 1rem;
}

h1, h2, h3, h4, h5, h6{
    display:flex;
    justify-content: center;
}

.attributes{
    display: flex;
}
.ID{
    flex-grow:1;
    height:100px;
    margin: 2.5%;
}
.class{
    flex-grow:1;
    height:100px;
    margin: 2.5%;
}

.navbar{
    background-color: yellow;
}